@model PriceListEditor.Application.PriceLists.Queries.GetPriceListDetails.DetailsListVm
@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <title>Product</title>
</head>
<body>
<div class="text-center">
<div class="row">
    <div class="col">
        <h1>Товары: </h1>
    </div>
    <div class="col text-right">
        <a asp-controller="Products" asp-action="Create" asp-route-id="@ViewData["IdPriceList"]" class="btn btn-success">Добавить новый продукт</a>
    </div>
</div>
<hr>
<table id="myTable" class="table table-bordered">
    <thead>
    <tr>
        <th>Наименование товара</th>
        <th>Артикул</th>
        @foreach (var product in Model.Products)
        {
            foreach (var column in product.Columns)
            {
                <th>
                    @Html.DisplayFor(columItem => column.Name)
                </th>
            }
            break;
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var prod in Model.Products)
    {
        if (prod.ProductCode == 1)
            continue;
        <tr id="row_@prod.Id">
            <td>
                @Html.DisplayFor(modelItem => prod.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.ProductCode)
            </td>
            @foreach (var column in prod.Columns)
            {
                <td>
                    @Html.DisplayFor(columItem => column.Value)
                </td>
            }
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = prod.Id }, new { @class = "btn btn-primary" })
                <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deProdlModal" onclick="ConfirmDelete('@prod.Id')">
                    Удалить
                </a>
                <div class="modal fade" id="deProdlModal" tabindex="-1" aria-labelledby="delProdModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delProdModalLabel">Подтверждение удаления товара</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                Вы действительно хотит удалить данный прайс-лист?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-danger" onclick="DeleteEmployee()">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
</body>
</html>

<input type="hidden" id="hiddenId" />

@section scripts{
    <script>
    
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
        
        let ConfirmDelete = function (Id) {
            $("#hiddenId").val(Id);
            $("#deProdlModal").modal('show');
        }
        var DeleteEmployee = function () {
            var empId = $("#hiddenId").val();
            $.ajax({
                type: "POST",
                url: "/Products/Delete/",
                data: { Id: empId },
                success: function (result) {        
                    $("#deProdlModal").modal("hide");
                    $("#row_" + empId).remove();
                }
            })
        }
</script>
}